/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .content-heading h2 {
    font-size: 25px;
  }
  .service-item {
    margin: 0 4px 45px;
  }
  .service-content {
    padding: 0 0 15px 15px;
  }
  .service-item h4 {
    font-size: 19px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .service-item {
    margin: 0 4px 45px;
  }
  .service-content {
    padding: 0 0 15px 15px;
  }
  .service-item h4 {
    font-size: 19px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .service-item {
    margin: 0 5px;
  }
  .service-item h4 {
    font-size: 19px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
} */
